@import url('InkutAntiqua/inkutantiqua.css');

*
{
    background: #f2e7d5;
    font-family: "IA_regular";
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f2e7d5;
    padding: 30px 40px 50px;
    text-align: center;
    border: 2px solid #533317;
    border-radius: 5px;
    padding: 20px;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 50px;
    color: #533317;                                 /* Sign Up color */
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 250px;
    height: 4px;
    border-radius: 3px;
    background: #533317;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field{
    background: #f2e7d5;
    margin: 15px 0;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
   /*overflow: hidden;*/
}

.input-field input{
    width: 100%;
    padding: 18px 15px;
    border-width: 2px;
    border-radius: 5px;
    border-color: #533317;
    height: 10px;
    padding-left: 8px;
    margin-left: 10px;

}

.input-field i{
    margin-left: 15px;
    color: #533317;
}

form p{
    text-align: left;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: #4b7be3;
}

.btn-field
{
    display: flex;
}

.btn-field a{
    width: 100%;
    justify-content: space-between;
    margin-top: px;
}

.btn-field a button{
    flex-basis: 48%;
    background: #533317;
    color: #f2e7d5;
    height: 40px;
    border-radius: 20px;
    border-color: #f2e7d5;
    width: 200px;
    /* border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s; */
}

.input-group{
    height: 175px;
}

.btn-field a button.disable{
    background: #f2e7d5;
    color: #533317;;
    border-width: 2px;
    border-color: #533317;;

}